*{
    margin:0px;
    padding:0px;
    font-family: cursive;
    border: 0px;
    /* background-color: white; */
}
.fondo{
    position: fixed;
    margin: 120px 30%;
    z-index: -23;
}
#header{
    text-align: right;
    width: 15rem;
    /* border: 1px solid red; */
    background-color: red;
    margin: 0px 0px 0px auto;
    border-bottom-left-radius: 50px ;
    /* width:100% */
    padding: 0px;
    
}
.logo{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color:white;
    column-gap: 20px;
}
#body{
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);

}
.section{
    width: 88%;
    margin: 100px auto;
    /* text-align: center; */
}
h2{
    margin-bottom: 5px;
    margin-left: 5px;
}
.article{
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 50px;
    row-gap: 5px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 1em;
}
.contenedor_1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.contenedor_2{
    margin:auto auto;

}
.boton{
    background-color: red;
    color: white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
    
}

.boton_cancelar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
}

.boton_selec:hover{
    background-color: black;
}
.desaparecer{
    display:none;
}