
.formulario{
    display:grid;
    width: 65%;
    margin: 0px auto;
    /* border: solid 1px black; */
}
.imagen{
    width: 180px;
    height: 150px;
}
.a1{
    display:grid;
    margin-right: 15px;
}
.contenedor_imagen{
    display:grid;
    margin-bottom: 35px;
    text-align: center;
}
.contenedor_general{
    display:grid;
    grid-template-columns: repeat(2, 50%);
    gap: 15px
}
.contenedor_descripcion{
    grid-row:3/5;
}
.descripcion{
    height: 80px;
}
.contenedor_envio{
    text-align: right;
    margin-right: 15px;
}
.boton_enviar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 0px;
    font-size: 15px;
    font-weight: none;
}
.boton_cancelar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
}
.desaparece{
    display:none;
}
.boton_selec:hover{
    background-color: black;
}