.section{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
.article{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 50px;
}
.boton{
    background-color: red;
    color: white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: none;
}

.boton_cancelar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: none;
}

.boton_selec:hover{
    background-color: black;
}