
.section{
    width: 88%;
    margin: 100px auto;
    /* text-align: center; */
}
h2{
    margin-bottom: 5px;
    margin-left: 5px;
}
.article{
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 50px;
    row-gap: 5px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 1em;
}
.contenedor_1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.contenedor_2{
    margin:auto auto;

}
.boton{
    background-color: red;
    color: white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
    
}

.boton_cancelar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
}

.boton_selec:hover{
    background-color: black;
}
.desaparecer{
    display:none;
}