.section{
    display: grid;
    width: 90%;
    margin: 0px auto;

}
.person{
    background-color: white;
    border-radius: 1em;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.compras{
    margin: 20px 0px;
    background-color: white;
    border-radius: 1em;
    padding: 10px;
}
.productos{
    padding-bottom: 15px;
}
.titulos{
    display:grid;
    grid-template-columns: 55% 15% 15% 15%;
}
.contenido{
    display:grid;
    grid-template-columns: 55% 15% 15% 15%;

}
.totales{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
}

.a1{
    grid-column: 3/5;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
hr{
    border: 1px solid black;
}


.contenedor_botones{
    display:grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
}
.contenedor_envio{
    text-align: right;
    margin-right: 15px;
   
}
.boton_enviar{
    background-color: green;
    color:white;
    width: 5em;
    margin-top: 20px;
    border-radius: 1em;
    padding: 2px 0px;
    font-size: 15px;
    font-weight: none;
}
.boton_cancelar{
    margin-top: 20px;
    background-color: green;
    color:white;
    width: 3em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
}
.desaparece{
    display:none;
}
.boton_selec:hover{
    background-color: black;
}