
input:invalid,
textarea:invalid {
    border: solid 2px rgba(173, 8, 8, 0.61);
}

.formulario{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 90px auto;
    gap:5px;
}
/* clase para los contenedores   */
.a1{
    display: grid;
    padding-right: 20px;
}

.a2{
    border: solid 2px black;
}

.contenedor_cancelar{
    grid-column: 1/2;
}
.contenedor_envio{
    text-align: right;
}

.boton_enviar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 0px;
    /* font-family: cursive; */
    font-size: 15px;
    font-weight: none;
}
.boton_cancelar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
}
.desaparecer{
    display:none;
}
.boton_selec:hover{
    background-color: black;
}

