.fondo{
    position: fixed;
    margin: 100px 30%;
    z-index: -23;
}
#header{
    text-align: right;
    width: 15rem;
    /* border: 1px solid red; */
    background-color: red;
    margin: 0px 0px 0px auto;
    border-bottom-left-radius: 50px ;
    /* width:100% */
    padding: 0px;
    
}
.logo{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color:white;
    column-gap: 20px;
}
#body{
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);

}